DB_HOST=aws-1-us-west-1.pooler.supabase.com
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres.ubkjplbglnmgxljgjipn
DB_PASS=WlqJxUD8U0Sm9lT1

OLLAMA_BASE_URL=http://10.200.102.139:11434
OLLAMA_EMBED_MODEL=bge-m3:latest
OLLAMA_CHAT_MODEL=deepseek-r1:8b

SUPABASE_URL=https://ubkjplbglnmgxljgjipn.supabase.co
SUPABASE_KEY=sb_publishable_o7KeiYFFK6f0dlPk7rL_gw_sa4QeJDN
DATABASE_URL=postgresql://postgres.ubkjplbglnmgxljgjipn:WlqJxUD8U0Sm9lT1@aws-1-us-west-1.pooler.supabase.com:5432/postgres